.gradientBox {
  background: linear-gradient(
    to right,
    rgba(171, 230, 195, 0.5),
    rgba(65, 90, 135, 0.5)
  );
  border: 2px solid rgba(171, 230, 195, 1);
  border-radius: 20px;
  position: relative;
  padding: 40px;
  backdrop-filter: blur(5px);
}

@media screen and (max-width: 900px) {
  .gradientBox {
    margin: 0 16px;
    padding: 24px;
    width: 100%;
  }
}
