.sidebarWrapper {
  display: none;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  min-width: 350px;

  @media only screen and (min-width: 40em) {
    display: flex;
  }
}

.downloadButton {
  background-color: rgba(80, 126, 255, 1);
  width: 100%;
  display: flex;
  gap: 8px;
  border: none;

  &:hover {
    background-color: rgba(84, 128, 247, 1);
  }
}

.sidebarTitleContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  align-items: center;
}
