.sidebarWrapper {
  display: none;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  min-width: 350px;

  @media only screen and (min-width: 40em) {
    display: flex;
  }
}

.downloadButton {
  background-color: rgba(80, 126, 255, 1);
  width: 100%;
  display: flex;
  gap: 8px;
  border: none;
  position: relative;

  &:hover {
    background-color: rgba(84, 128, 247, 1);
  }
}

.loadingButton {
  background-color: rgba(80, 126, 255, 0.5);
}

.loadingButtonBar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(80, 126, 255, 1);
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.sidebarTitleContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  align-items: center;
}
