.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/background.png");
  background-position: bottom;
  background-size: cover;
  position: relative;

  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  gap: 24px;
  padding: 24px 56px 0;
  position: absolute;
}

.title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.inputContainer {
  width: 100%;
  padding-top: auto;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}

.inputWrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttonContainer {
  display: flex;
  width: 100%;
}

.octocat {
  position: absolute;
  height: 296px;
  bottom: calc(-296px + 64px);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.gradientText {
  background: linear-gradient(270.02deg, #c0b1e5 3.63%, #c5be81 99.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h2 {
  font-size: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

@media screen and (max-width: 480px) {
  .buttonContainer {
    flex-direction: column;
    gap: 8px;
  }
  .input {
    width: 100% !important;
    border-radius: 5px !important;
    flex: 0 0 48px !important;
  }
  .button {
    border-radius: 5px !important;
  }
}

@media screen and (max-width: 768px) {
  .inputContainer {
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 1024px) {
}
