.gradientText {
  display: none;
  background: linear-gradient(270.02deg, #645278 20.63%, #82b6c6 99.87%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 15px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  font-weight: bolder;
  line-height: 1;

  @media only screen and (min-width: 40em) {
    display: inline;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;

  @media only screen and (min-width: 40em) {
    margin-top: 56px;
  }
}

.homeBoxWrapper {
  @media only screen and (min-width: 40em) {
  }
}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 12px;
  background: linear-gradient(270.02deg, #ddd 20.63%, #fff 99.87%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media only screen and (min-width: 40em) {
    font-size: 44px;
    margin-bottom: 24px;
    font-weight: 900;
  }
}

.description {
  font-weight: 400;

  @media only screen and (min-width: 40em) {
    font-weight: 500;
  }
}

.homeBoxBottomWrapper {
  padding: 24px 16px;

  @media only screen and (min-width: 40em) {
    padding: 30px;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;

  @media only screen and (min-width: 40em) {
    flex-direction: row;
    gap: 0;
  }
}

.mobileSubmitButton {
  @media only screen and (min-width: 40em) {
    display: none;
  }
}

.desktopSubmitButton {
  width: 100%;

  @media only screen and (min-width: 40em) {
    width: 160px;
    display: inline;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.input {
  @media only screen and (min-width: 40em) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.privateContributions {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media only screen and (min-width: 40em) {
    flex-direction: row;
  }
}

.divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);

  @media only screen and (min-width: 40em) {
    margin: 0 8px;
    display: none;
  }
}

.loginOptionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
