.gradientText {
  background: linear-gradient(270.02deg, #645278 20.63%, #82b6c6 99.87%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 30px;
  margin-top: 50px;
}
