.container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out, background-color 0.1s ease-in-out;
  font-weight: 600;
  padding-left: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 7px;
  border-radius: 5px;
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
