.navWrapper {
  top: 0;
  left: 0;
  z-index: 999;
  position: fixed;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 96px;
  gap: 40px;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-decoration: none;

  &:hover {
    color: #0ee1eb;
    background: linear-gradient(270.02deg, #7172fd 3.63%, #0ee1eb 99.87%);
    font-size: 24px;
    margin: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.icon {
  z-index: 999;
  /* position: fixed; */
  position: relative;
  display: block;
  padding: 1px;
  height: 36px;
  width: 36px;
  margin: 0px;
  /* bottom: 20px; */
  /* right: 20px; */
  background-color: none;
  text-align: center;
  cursor: pointer;
}

.topMenu {
  top: 5px;
  right: 6.5px;
  width: 25px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
}

.midMenu {
  top: 13px;
  right: 6.5px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
}

.bottomMenu {
  top: 21px;
  right: 6.5px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
}

.menui {
  background: #fff;
  transition: 0.8s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  position: absolute;
  margin: 3.5px auto 0;
}

.topAnimate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.midAnimate {
  opacity: 0;
}

.bottomAnimate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}
