.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: bottom;
  background-size: cover;
  position: relative;

  justify-content: center;
  align-items: center;
}

.inputContainer {
  font-family: "Mona Sans";
}

.buttonContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.octocat {
  position: absolute;
  height: 236px;
  bottom: -187px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
