.container {
  width: 100vw;
  height: 150svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media only screen and (min-width: 40em) {
    height: 100svh;
    justify-content: center;
  }
}

.octocat {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 140px;
  bottom: 27px;

  @media only screen and (min-width: 40em) {
    height: 196px;
    bottom: 130px;
  }
}

.gradientText2 {
  background: linear-gradient(270.02deg, #7172fd 3.63%, #0ee1eb 99.87%);
  font-size: 24px;
  margin: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homeForeground {
  width: 880px;
  bottom: -16px;

  @media only screen and (min-width: 40em) {
    width: 1800px;
    bottom: -48px;
  }
}
